venv/
__pycache__/
*.py[cod]
*.env
*.sqlite3
*.db
*.log
.env
.idea/
.vscode/
.DS_Store
Thumbs.db
build/
dist/
*.egg-info/
wheels/
.ipynb_checkpoints/
# Docker
docker-compose.override.yml
*.dockerignore
.env
